<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="inner-banner">
        <div class="about-hero-text-container">
            <h2 class="title">About Us</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"> Home </a>
                    </li>
                    <li class="active">
                        About Us
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="why-choose-us-section" ng-include="'../components/whyChooseUs.html'">
        
    </section>
    <section class="testimonial-section" ng-include="'../components/testimonial.html'"></section>
</body>
</html>