<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="inner-banner">
        <div class="about-hero-text-container">
            <h2 class="title">Shop</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"> Home </a>
                    </li>
                    <li class="active">
                        Contact
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <h2>Get in Touch</h2>
            <p>Feel free to ask me any question or let's do talk about our future collaboration.</p>
            <div class="row">
                <input placeholder="Your Name">
                <input placeholder="Your Email">
            </div>
            <div class="row">
                <input placeholder="Your Phone">
                <input placeholder="Subject">
            </div>
            <input placeholder="Write Message" class="text-box">
            <div class="view-more-container">
                <a href="" class="live-auction-cta view-more">Send Message</a>
            </div>
        </form>
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=University of Oxford&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanox.io/">Gacha Nox</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:600px!important;}</style></div>
    </div>
    <section class="stats-section" ng-include="'../components/stats.html'"></section>
</body>
</html>