<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="cta-container">
        <div class="product-banner">
            <div class="product-banner-item upcoming-banner">
                <div class="product-banner-content">
                    <span>
                        Upcoming Auction
                    </span>
                    <h3>
                        This Product Coming in Next Month.
                    </h3>
                    <div class="countdown-timer">
                        <ul>
                            <li>
                                {{days}}
                                <span>Days</span>
                            </li>
                            <li>
                                {{hours}}
                                <span>Hrs</span>
                            </li>
                            <li>
                                {{minutes}}
                                <span>Mins</span>
                            </li>
                            <li>
                                {{seconds}}
                               <span>Secs</span>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="bid-btn">Get Ready</a>
                </div>
                <div class="product-banner-image">
                    <img src="images/camera-img.png" alt="">
                </div>
            </div>
        </div>
        <div class="product-banner">
            <div class="product-banner-item best-selling-banner">
                <div class="product-banner-content ">
                    <span>
                        Best Selling Item
                    </span>
                    <h3>
                        Hand Ring: Product is Avilable In Stock.
                    </h3>
                    <div class="price">
                        Bidding Price: <span> $250.0</span>
                    </div>
                    <a href="" class="bid-btn">Bid Now</a>
                </div>
                <div class="product-banner-image">
                    <img src="images/ring-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>