<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer-top">
        <div class="footer-wrapper">
            <div class="footer-container">
                <section>
                    <div class="footer-item">
                        <div class="logo-container">
                            
                            <h1 class="footer-logo">BidSpirit</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequuntur debitis quam, blanditiis consequatur asperiores officiis.</p>
                        <form action="">
                            <div class="footer-input-container">
                                <input type="email" placeholder="Enter your email" name="EMAIL" required>
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="20" height="20" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m11.885 19.405 5.907-5.908a1 1 0 0 1 1.414 1.415l-5.907 5.907 4.637 8.759a2 2 0 0 0 3.665-.304l7.821-23.462a1.999 1.999 0 0 0-2.53-2.53L3.429 11.103a2.001 2.001 0 0 0-.303 3.665z" fill="#fff" data-original="#000000" class=""></path></g></svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="d-flex">
                    <div class="footer-item">
                        <nav class="footer-nav">
                            <h5>Navigation</h5>
                            <ul>
                                <li>
                                    <a href="">All Products</a>
                                </li>
                                <li>
                                    <a href="">How It Works</a>
                                </li>
                                <li>
                                    <a href="">About Company</a>
                                </li>
                                <li>
                                    <a href="">Our News Feed</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <section class="d-flex">
                    <div class="footer-item">
                        <nav class="footer-nav">
                            <h5>Help & FAQs</h5>
                            <ul>
                                <li>
                                    <a href="">Help Center</a>
                                </li>
                                <li>
                                    <a href="">Customer FAQs</a>
                                </li>
                                <li>
                                    <a href="">Terms and Conditions</a>
                                </li>
                                <li>
                                    <a href="">Security Information</a>
                                </li>
                                <li>
                                    <a href="">Merchant Add Policy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>