<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hero">
        <div id="hero-main-text">
             <div class="hero-main-text">
                 <span class="auction-welcome-text">Welcome To Auction House</span>
                 <h1>Build, sell and collect items</h1>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consequatur rem vitae a explicabo officia tempore officiis? Nemo, facere fuga.</p>
             </div>
             <a href="" class="hero-cta">start exploring</a>
        </div>
        <img class="hero-main-img" src="images/Auction-bro.png" alt="">
    </div>
</body>
</html>