<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="upcoming-auction-header">
        <h2>Upcoming Auction</h2>
        <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products.
            We want to be a part of your smile, success and future growth.
        </p>
    </header>
    

</body>
</html>